body {
  padding: 0.1px;
  margin:0 auto;    
}
header{
    width: 1885px;
    background-color: green;
    padding: 10px; 
    float: left;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
}

header h1{
    float: left;
    padding-left: 30px;
    color: white;
}
header img{
    padding-left: 70px;
}
header input[type="text"]{
    float: left;
    padding: 5px;
    margin-top: 27px;
    margin-left: 70px;
}
header input[type="submit"]
{
    float: left;
    margin-top: 27px;
    padding: 5px;
}


nav{
    float: right;
    border: solid rgb(6, 95, 3) 0.5px;
    border-radius: 2px;
}

nav ul li{
    display: inline-block; /*Mantenie las propiedades bel bloque pero los pone en línea*/
    padding: 8px;
}

nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    color: yellow;
}

.cajal {
  float: left;
  width: 150px;
  background-color: rgb(0, 128, 0, 0.5);
  padding-bottom: 50%;
}

.titulo1{
    width: 1000px;
    padding: 10px;
    margin-top: 8%;
    margin-left: 25%;
    text-align: center;
    background-color: rgba(0, 190, 0);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
}

.cuerpo{
    width: 1500px;
    padding: 10px;
    padding-left: 20px;
    margin-top: 100px;
    margin-left: 250px;
    text-align: left;
    background-color: rgb(83, 179, 83);
    color: rgb(0, 0, 0);
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
}

.info1{
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 70px;
    padding-top: 15px;
}

.info1 p {
    margin-bottom: 110px; /* Opcional, si quieres más separación aún */
}

.cuerpo li{
    margin-bottom: 50px;
    margin-top: 30px;
}