/*El bossy el fondo de todo la caja principal*/
body {
  padding: 0.1px;
  margin:0 auto;    
  background-color: #749b7567;
}

/*La cabeza principal donde se encuentra el navegador y el menú que tiene una lista*/
header{
    width: 1885px;
    background-color: green;
    padding: 10px; 
    float: left;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
}
header img{
    width:75px;
    height:75px;
}

header h1{
    float: left;
    padding-left: 30px;
    color: white;
}
header img{
    padding-left: 70px;
}

/*Es los ajustes del buscador pero no se puede utilizar es visual simplemente*/
header input[type="text"]{
    float: left;
    padding: 5px;
    margin-top: 27px;
    margin-left: 70px;
}
header input[type="submit"]
{
    float: left;
    margin-top: 27px;
    padding: 5px;
}


nav{
    float: right;
    border: solid rgb(6, 95, 3) 0.5px;
    border-radius: 2px;
}

nav ul li{
    display: inline-block;
    padding: 8px;
}

nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    transition: background 0.3s, color 0.3s; /*Una pequeña transicion para que se vea dinamica la lista del menu*/
}

nav ul li a:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    color: yellow;
}

.titulo1{
    width: 1000px;
    padding: 10px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    background-color: rgba(0, 190, 0);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
}

/*Ahora viene esta parte en la cual he usado para las cajas de informacion y los titulos*/
.cuerpo{
    width: 1500px;
    padding: 10px;
    padding-left: 20px;
    margin:auto;
    margin-top: 100px;
    text-align: left;
    background-color: rgb(83, 179, 83);
    color: rgb(0, 0, 0);
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3);
}

.info1{
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 70px;
    padding-top: 15px;
}

.info1 p {
    margin-bottom: 110px; /* Opcional, si quieres más separación aún */
}


.info1 li {
    margin-bottom: 20px;
    margin-top: 10px;
}

/*Aquí es como he ajustado las imagenes del punto uno*/
.imagen1 {
    float: right;
    width: 300px;
    padding-right: 170px;
    padding-top: 150px;
}
.img1 {
    width: 400px;
    height: 400px;
    margin-bottom: 160px;
    border-radius: 8px;
}

/*Aquí es como he ajustado las imagenes del punto dos*/
.imagen2{
    float: right;
    width: 300px;
    padding-right: 120px;
    padding-top: 60px;
}

.img2{
    width: 250px;
    height: 250px;
    margin-bottom: 60px;
    border-radius: 8px;
}

/*Aquí es como he ajustado las imagenes del punto tres*/
.imagen3{
    float: right;
    width: 300px;
    padding-right: 230px;
    padding-top: 160px;
}

.img3{
    width: 500px;
    height: 500px;
    border-radius: 8px;
}

/*Estos son los ajustes de la table el clear bopth es para limpiar el float*/
table{
    width: 900px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #16af1b;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto;
    clear: both;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #005003;
    color: white;
    text-align: center;
    font-weight: bold;
}

/*Aquí es como he ajustado las imagenes del punto 4 para que se alinearan*/
.imagenes-doble {
    overflow: hidden;
}

.imagen-info {
    width: 700px;
    float: left;
    padding: 1%;
    text-align: center;
}

.imagen-info img {
    width: 700px;
    height: 400px;
    border-radius: 10px;
    display: inline-block;
}

/*La informacion que va al pie de las dos imagenes*/ 
.info-img {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

/*Y el pie de pagina con los derechos de autor*/
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
  bottom: 0;
  width: 1885px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/*Los ajustes del formulario*/

form{
    width: 20%;
    height: 90%;
    background-color: rgb(46, 145, 3);
    margin: 150px auto;
    padding: 30px;
    border: solid rgb(0, 77, 10) 0.5px;
    border-radius: 6px;
}

label {
  display: block;
  margin: 5px 0;
}

fieldset{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 77, 10, 0.7);
  border-radius: 6px;
}

legend{
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

button {
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 77, 10, 0.7);
  background-color: white;
  color: #000;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(0, 100, 0);
  color: white;
  font-weight: bold;
}

